<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ant.antdate">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/ThemeActivity"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.ForgetPassActivity"></activity>
        <activity android:name=".activity.VetifyCodeActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.SendVetifyCodeActivity" />
        <activity android:name=".activity.ResetPassActivity" />
        <activity android:name=".activity.VtifyPhoneActivity" />
        <activity android:name=".activity.SendVetifyCodeLogoActivity" />
        <activity android:name=".activity.SendVetifyCodeRegisterActivity" />
        <activity android:name=".activity.RegisterSetPassActivity" />
        <activity android:name=".mine.SettingActivity" />
        <activity android:name=".mine.ChangePersonalMessageActivity" />
        <activity android:name=".mine.ChangeMinePassActivity" />
        <activity android:name=".mine.AboutActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>